<% block('title').append('<title>Home | Zwitter</title>') %>
<%- layout('boilerplate') %>
<h1>Welcome to Zwitter!</h1>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus fugit, sint consequatur voluptate eum omnis nulla a harum architecto ullam? Sit, esse vitae aliquam minima ipsam qui? Voluptate, illum accusamus!
    Dolores quo ea nam maiores unde sed optio corrupti nobis corporis esse exercitationem, tenetur quis a eligendi hic, eaque asperiores. Consequuntur, distinctio. Nulla repellat laboriosam doloremque sequi inventore nostrum. Molestiae?
    Minus, magni iste. Repellat culpa aliquam cumque consequatur magni doloremque sint, velit voluptatum officiis tempore eius saepe itaque adipisci unde voluptas. Quis magnam magni sunt vero, odio culpa sequi est!
</p>
<form action="/users">
    <button>View All Users</button>
</form>
<form action="/comments">
    <button>View All Comments</button>
</form>