<% block('title').append('<title>Users</title>') %>
<%- layout('boilerplate') %>
<h1>Welcome to the Users Page!</h1>
<ul>
    <% for(const user of users) { %>
        <li>
            <b><%= user.username %></b>
            <a href="/users/<%= user._id %>">details</a>
        </li>
    <% } %>
</ul>
<form action="/users/new">
    <button>New User</button>
</form>
<form action="/home">
    <button>Back to Home</button>
</form>